h1 {
  font-size: 75px;
  color: #00ff94;
  font-weight: 700;
}
h2 {
  font-size: 35px;
  font-weight: 500;
}

.carousel-indicators {
  flex-direction: column;
  margin-left: 3rem;
  top: 0;

  li {
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
    width: 10px;
    height: 10px;
    margin-bottom: 0.5rem;
  }

  .active {
    background: #00ff94;
    border-color: #00ff94;
  }
}

.pl-10 {
  padding-left: 7rem;
}

.carousel-caption {
  bottom: -20px;
}
