h4 {
  font-size: 16px;
}
h6 {
  font-size: 13px;
  margin: 0px;
  opacity: 0.3;
}

.caraousel {
  .react-multiple-carousel__arrow--left {
    left: 0;
    outline: none !important;
    top: 28%;
  }

  .react-multiple-carousel__arrow--right {
    right: 0;
    outline: none !important;
    top: 28%;
  }
}


.caraousel {
  .img-preview {
    max-height: 180px;
  }
}

.recommended-box {
  .img-preview {
    img {
      min-width: 100%;
    }
  }
}
