/* square buttons */

.rec {
  .rec-arrow {
    position: absolute;
    z-index: 99;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    top: 28%;
    outline: none;
  }

  .rec-arrow-right {
    right: 0;
    outline: none;
  }

  .rec-carousel-item {
    outline: none;
  }
}

.rec-carousel {
  position: relative;
}

.carousel-image-container {
  height: 200px;
}

.playButton {
  width: 45px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 0 auto;
}

.hoverEffect {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hoverEffect .overlay {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.hoverEffect img {
  display: block;
  position: relative;
  height: 200px;
  min-height: 200px;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hoverEffect:hover img {
  max-height: 200px;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hoverEffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hoverEffect:hover .playButton {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
