@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'variables';

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  background-color: $body-bg-color;
  line-height: 1.5;
}

.bg-nav-bar {
  background: $body-bg-color;
}

.bg-sidebar {
  background: #09113a;
}

.jumbotron-bg-inner {
  background: url(../images/page-background-inner.jpg) no-repeat;
  position: relative;
  padding-top: 100px;
}

.blick-border {
  border-image: linear-gradient(to right, #1fdbae, rgba(31, 219, 174, 0.2)) 1;
}

img {
  max-width: 100%;
}

.pt-10 {
  padding-top: 10rem;
}

.autocomplete-box {
  input {
    color: #fff;
    &:focus {
      color: #fff;
    }
  }
  .rbt-menu {
    background: $body-bg-color;

    a {
      color: #fff;

      &:hover {
        background: #24e6a9;
      }
    }
  }
}

.layout-navbar-fixed .wrapper .main-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1037;
}

@media (min-width: 768px) {
  body:not(-md) .content-wrapper,
  body:not(-md) .main-footer,
  body:not(-md) .main-header {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px;
  }
}

.layout-fixed .main-sidebar {
  bottom: 0;
  float: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
}

.layout-footer-fixed .wrapper .main-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1032;
}

.elevation-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}

.main-sidebar,
.main-sidebar::before {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

.main-sidebar {
  .nav-link {
    color: rgba(255, 255, 255, 0.75);

    &:focus {
      background: #24e6a9;
      color: #ffffff;
    }

    &:hover {
      background: #24e6a9;
      color: #ffffff;
    }
  }
}

@media (min-width: 992px) {
  .nav-sidebar,
  .nav-sidebar .nav-link,
  .nav-sidebar > .nav-header {
    white-space: nowrap;
    overflow: hidden;
  }

  .sidebar-collapse .nav-sidebar .nav-link {
    text-align: center;
    p {
      width: 0;
      visibility: hidden;
    }
  }
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer,
  .sidebar-collapse .main-header {
    margin-left: 4.6rem !important;
  }

  .sidebar-collapse .main-sidebar {
    overflow-x: hidden;
  }
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    width: 4.6rem;
  }

  .content-wrapper {
    background: $body-bg-color;
    padding-bottom: 100px;
    overflow: hidden;
  }

  .main-header {
    .input-group {
      flex-basis: 50%;
    }
  }
}

@media (min-width: 768px) {
  .carousel-front {
    .img-preview {
      height: 160px;
      img {
        height: 100%;
      }
    }
  }
}
