@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'variables';

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: $body-bg-color;
  line-height: 1.5;
}

.bg-nav-bar {
  background: $body-bg-color;
}

.jumbotron-bg-inner {
  background: url(../images/page-background-inner.jpg) no-repeat;
  position: relative;
  padding-top: 100px;
}

.blick-border {
  border-image: linear-gradient(to right, #1fdbae, rgba(31, 219, 174, 0.2)) 1;
}

img {
  max-width: 100%;
}

.pt-10 {
  padding-top: 10rem;
}

.autocomplete-box {
  input {
    color: #fff;
    &:focus {
      color: #fff;
    }
  }
  .rbt-menu {
    background: $body-bg-color;

    a {
      color: #fff;

      &:hover {
        background: #24e6a9;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-header {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px;
  }
}
