@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

@import 'variables';
@import './partials/partials';
@import './components/components';

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  background-color: $body-bg-color;
  line-height: 1.5;
}

h3 {
  font-size: 18px;
  border-image: linear-gradient(to right, #1fdbae, rgba(0, 0, 0, 0)) 1;
  border-bottom: 3px solid;
  font-family: 'PT Sans Narrow', sans-serif;
}

.bg-nav-bar {
  background: $body-bg-color;
}

.bg-sidebar {
  background: #041E3F;
}

.jumbotron-bg-inner {
  background: url(../images/page-background-inner.jpg) no-repeat;
  position: relative;
  padding-top: 100px;
}

.blick-border {
  border-image: linear-gradient(to right, #1fdbae, rgba(31, 219, 174, 0.2)) 1;
  &__danger {
    border-image: linear-gradient(to right, $danger, rgba($danger, 0.2)) 1;
  }
}

img {
  max-width: 100%;
}

.pt-10 {
  padding-top: 10rem;
}

.ipad-close {
  visibility: hidden;
}

.main-sidebar {
  overflow-y: hidden;
}

.main-sidebar,
.main-sidebar::before {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

.main-sidebar {
  .nav-link {
    color: rgba(255, 255, 255, 0.75);

    &:focus {
      background: #24e6a9;
      color: #ffffff;
    }

    &:hover {
      background: #24e6a9;
      color: #ffffff;
    }
  }
}

.nav-sidebar,
.nav-sidebar .nav-link,
.nav-sidebar > .nav-header {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-collapse .nav-sidebar .nav-link {
  text-align: center;

  p {
    width: 0;
    visibility: hidden;
  }
}

.sidebar-collapse .main-sidebar {
  overflow-x: hidden;
}

.sidebar-collapse .main-sidebar,
.sidebar-collapse .main-sidebar::before {
  margin-left: 0;
  width: 4.6rem;
}

.content-wrapper {
  background: $body-bg-color;
  padding-bottom: 100px;
  overflow: hidden;
}

.main-header {
  .input-group {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .main-header {
    .input-group {
      flex-basis: 50%;
    }
  }
}

@media (max-width: 500px) {
  .main-header {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .main-header {
    .input-group {
      flex-basis: 100%;
    }
  }
  .content-wrapper,
  .main-footer,
  .main-header {
    margin-left: 0;
  }
  .main-sidebar,
  .main-sidebar::before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: -250px;
  }

  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    width: 250px;
  }

  .sidebar-collapse .nav-sidebar .nav-link {
    text-align: left;

    p {
      width: auto;
      visibility: visible;
    }
  }

  .ipad-close {
    visibility: hidden;
  }

  .sidebar-collapse {
    .ipad-close {
      visibility: visible;
    }

    .main-footer {
      z-index: 999;
    }
  }

  .carousel-caption {
    top: 20%;

    h1 {
      font-size: 1rem;
    }

    h2 {
      font-size: 0.7rem;
    }

    .d-flex {
      .fa-play-circle {
        font-size: 1rem;
      }

      span {
        font-size: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .content-wrapper,
  .main-footer,
  .main-header {
    margin-left: 0;
  }
  .main-sidebar,
  .main-sidebar::before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: -250px;
  }

  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    width: 250px;
  }

  .sidebar-collapse .nav-sidebar .nav-link {
    text-align: left;

    p {
      width: auto;
      visibility: visible;
    }
  }

  .ipad-close {
    visibility: hidden;
  }

  .sidebar-collapse {
    .ipad-close {
      visibility: visible;
    }

    .main-footer {
      z-index: 999;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-sidebar,
  .main-sidebar::before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: -250px;
  }
  .ipad-close {
    visibility: hidden;
  }

  .sidebar-collapse {
    .ipad-close {
      visibility: visible;
    }

    .main-footer {
      z-index: 999;
    }
  }

  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    width: 250px;
  }

  .sidebar-collapse .nav-sidebar .nav-link {
    text-align: left;

    p {
      width: auto;
      visibility: visible;
    }
  }
}

@media (min-width: 1200px) {
  .main-sidebar,
  .main-sidebar::before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 250px;
  }

  .sidebar-collapse .nav-sidebar .nav-link {
    text-align: center;

    p {
      width: 0;
      visibility: hidden;
    }
  }
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .main-footer,
  .sidebar-collapse .main-header {
    margin-left: 4.6rem !important;
  }

  .content-wrapper,
  .main-footer,
  .main-header {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px;
  }
}


.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}


.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}

.tab-style {
  display: flex;
  flex: 1;
  text-align: center;
}

.check .nav-tabs, .check .nav-link {
  flex: 1;
  text-align: center;
  color: black;
  margin: 5px;
  border-radius: 0.25rem;

}

.check .nav-tabs, .check .nav-link.active, .check .nav-tabs .check .nav-item.show .check .nav-link {
  flex: 1;
  text-align: center;
  color: green;
  background-color: lightgray;
  margin: 5px;
}

.input-url {
  width: 100%;
  background-color: #fcfcfc;
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 4px;
}

.input-url:focus {
  outline: none;
}
