/*navigation part*/
.sidebar-menu {
  top: 40px;
  left: 10px;
  z-index: 999;
}

.sidebar {
  height: 100%;
  z-index: 999;
  background-color: #09113a;
  transition: 0.5s;
  width: 65px;
  a {
    padding: 0;
    transition: 0.3s;
    margin: 15px 0;
    text-align: center;
  }
  a:hover {
    color: #f1f1f1;
    /* background: url(../../images/nav-hover-bg.png) no-repeat;
      background-size: 100% 100%; */
    background: #24e6a9;
  }
  .close-btn:hover,
  .logo-icon:hover {
    background: none !important;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
