.music-card {
    &__desc {
        height: 50px;
        overflow: hidden;
    }
    &__gener {
        height: 50px;
        overflow: hidden;
    }
}

.table-cursor {
    tbody tr {
        cursor: pointer;
    }
}