.nav-tabs {
    border-bottom: 1px solid $warning;
    display: flex;
    justify-content: space-evenly;
    .nav-link {
        flex-grow: 1;
        text-align: center;
        color: rgba($warning,0.4);
        &, &:hover, &:focus {
            background-color: transparent;
            border: 0;
        }
        &:hover, &:focus {
            color: rgba($warning,0.6);
        }
        &.active {
            border-width: 1px 1px 0 1px;
            border-color: rgba($warning,1);
            border-style: solid;
            &, &:hover, &:focus {
                color: rgba($warning,1);
                background-color: transparent;
            }   
        }
    }
}