.stats_UI_container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: flex-start;
}

.stats_title_description {
    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-left: 10px;
}

.stats_description {
    font-size: 12px;
    color: whitesmoke;
}

.stats_title {
    font-size: 14px;
    color: white;
    font-weight: bold;
}