.newplaylist{
    padding: 15px 50px 40px;
    text-align: center;
    input{
        text-align: center;
    }
    h4{
        margin-bottom: 25px;
        font-size: 18px;
    }
}
.existingplaylist{
    text-align: center;
    border: 1px solid #FFF;
    h4{
        font-size: 14px;
        margin-top: -10px;
        background-color: #FFF;
        color: #020f1f;
        padding: 5px 0;
        margin: -12px 80px 15px;
    }
    .list-group{
        border-radius: 0;
        max-height: 200px;
        height: auto;
        overflow-y: auto;
        .list-group-item{
            color: #ccc;
            font-weight: 300;
            background: none;
            letter-spacing: 1px;
            &:hover{
                background: #FFF;
                font-weight: 400;
                color: #020f1f;
            }
        }
    }
}
