.album-detail {
  min-height: 231px;
  max-height: 231px;

  h1 {
    font-size: 50px;
    color: #00ff94;
    line-height: 100%;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h5 {
    font-size: 30px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .album-thumb {
    min-height: auto;
    img {
      min-height: auto;
    }
  }
}

.songs-ul {
  .song-number {
    min-width: 70px;
  }

  .min-w15 {
    min-width: 15%;
  }
}

.dot-box-share {
  background: transparent;
  font-size: inherit;

  &:hover {
    background: transparent;
  }

  &:visited {
    background: transparent;
  }

  ::after {
    display: none;
  }
}
