.album-detail {
  h1 {
    font-size: 50px;
    color: #00ff94;
    line-height: 100%;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h5 {
    font-size: 30px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-menu {
    transform: translate(-25px, 72px) !important;
    min-width: 0;
  }

  .album-thumb {
    img {
      max-width: 87%;
    }
  }
}

.songs-ul {
  .song-number {
    min-width: 70px;
  }

  .min-w15 {
    min-width: 15%;
  }
}

.dot-box-share {
  background: transparent;
  font-size: inherit;

  &:hover {
    background: transparent;
  }

  &:visited {
    background: transparent;
  }

  ::after {
    display: none;
  }
}

.dropdown-toggle {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0;
  &:focus {
    box-shadow: none !important;
  }
}

.dropdown-toggle {
  background: none;
  &::after {
    display: none;
  }
}
