.album-detail {
  h1 {
    font-size: 50px;
    color: #00ff94;
    line-height: 100%;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h5 {
    font-size: 30px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.songs-ul {
  .song-number {
    min-width: 70px;
  }

  .min-w15 {
    min-width: 15%;
  }
}

.dot-box-share {
  background: transparent;
  font-size: inherit;

  &:hover {
    background: transparent;
  }

  &:visited {
    background: transparent;
  }

  ::after {
    display: none;
  }
}

.profile-img-box {
  width: 235px;
  height: 235px;

  img {
    height: 100%;
  }
}

.profile-detail {
  flex: 1;
}

@media (max-width: 768px) {
  .profile-img-area {
    margin-right: 1rem;
  }
  .profile-detail {
    h1 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .profile-img-area {
    margin-right: 1rem;
  }
  .profile-img-box {
    width: 190px;
    height: 190px;

    img {
      height: 100%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .profile-img-area {
    margin-right: 1rem;
  }
}

@media (min-width: 1200px) {
  .profile-img-area {
    margin-right: 3rem;
  }
}
