.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.card_style {
    width: 200px;
    margin: 20px;
}

.description-text {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}