@import "~bootstrap/scss/bootstrap";

.modal-content {
  background-color: #020f1f;
}

.img-preview {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-preview:hover .hover-box {
  display: flex;
}

.hover-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(31, 219, 174, 0.6);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.table {
  color: #ffffff;
}

.invalid-feedback-block {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --color--text: 0, 123, 255;
}

.bg-dark {
  background-color: rgba(var(--color--text), 14%) !important;
}

.dropdown-menu {
  background-color: #041E3F;

  a {
    color: #ffffff;
  }
}

.table-hover tbody tr:hover {
  color: #1fdbae;
  background-color: rgba(var(--color--text), 14%) !important;
}
