@import "~bootstrap/scss/bootstrap";

h5 {
  font-size: 16px;
  font-weight: 400;
}

.modal-content {
  background-color: #020f1f;
}

.img-preview {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-preview:hover .hover-box {
  display: flex;
}

.hover-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.playHoverButton {
  background-color: #ffffff;
}

.table {
  color: #ffffff;
}

.invalid-feedback-block {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --color--text: 0, 123, 255;
}

.bg-dark {
  background-color: rgba(var(--color--text), 14%) !important;
}

.dropdown-menu {
  background-color: #041E3F;

  a {
    color: #ffffff;
  }
}

a {
  color: #b3b3b3;
}

.table-hover tbody tr:hover, .song-row:hover, .top-songs:hover {
  color: #1fdbae;
  background-color: rgba(var(--color--text), 14%) !important;
}

.form-control, .form-control:focus {
  background-color: #020f1f;
  color: #ffffff;
}

.footer-extra-padding {
  padding-bottom: 70px;
}

.song-title h5, .song-title h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
