.browse_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.browse_card {
    width: 14rem;
    height: 8rem;
    margin: 10px;
    border-width: 0px;
}

.card_title {
    position: absolute;
    bottom: 0;
    left: 10;

}