.top-header-box {
  div {
    flex: 1;
  }
  .input-box {
    input {
      background: transparent;
      outline: none;
      border: none;
    }

    ::placeholder {
      color: #ffffff;
    }
  }
}
