.logo-size {
  width: 140px;
}

.ipad-close {
  margin-left: 250px;
}

.beta-tag {
  background-color: rgb(228, 32, 32);
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  margin-top: 5px;
}
