.latest-posts {
  .rec {
    .rec-arrow {
      outline: none;
      top: auto;
    }
  }

  .img-preview {
    .caption {
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: 0.5s all linear;
      h4 {
        font-size: 1.5em;
        font-weight: 600;
      }

      h6 {
        font-size: 1em;
      }
    }
    &:hover {
      .caption {
        opacity: 1;
        transition: 0.5s all linear;
      }
    }
  }
}
