@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 9px 15px 18px 5px #00000026;
}
.user-name {
  font-size: 15px;
  color: #d2d1d1;
}
.search-box {
  border-bottom: 1px solid #0fa1b3;
  width: 100%;
  box-shadow: 0px 1px 1px #868686;
}
.search-box input[type='search'] {
  background: none;
  border: 0px;
  padding: 18px 0;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px #000;
}
.top-area .float-left {
  width: 50%;
}

.carousel-caption {
  left: 5%;
}
.play-row a {
  letter-spacing: 1px;
  color: #eeeeee;
  text-transform: uppercase;
}
.play-row a img {
  margin-right: 12px;
}
/* .play-row {
  padding-top: 55px;
} */

.slide-area {
  position: relative;
}

.banner {
  position: relative;
}
.top-area {
  position: absolute;
  top: 50px;
  z-index: 99;
  width: 100%;
}

.slider-wrapper {
  position: relative;
}
.slider-row {
  padding: 0;
  margin: 0 -15px;
}
/* .slider-box { display:inline-block; list-style-type:none; width:16.4%;padding: 0 20px;} */
.slider-box .image-area {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.slider-box .hover-box {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: url(../../images/hover-bg.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.slider-box:hover .hover-box {
  display: block;
}
.slider-box .caption {
  padding-top: 24px;
}
.slider-box .caption h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
.slider-box .caption h6 {
  font-size: 13px;
  margin: 0px;
}
.slider-navigation {
  position: absolute;
  top: 90px;
  width: 100%;
}
.left-nav-icon,
.right-nav-icon {
  background: rgba(40, 40, 40, 0.9);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
}
.left-nav-icon {
  float: left;
  margin-left: -25px;
}
.right-nav-icon {
  float: right;
  margin-right: -30px;
}
.slider-img {
  width: 100%;
}

/* .post-area .slider-box{ padding:0 10px; width:33%;} */
.post-area .slider-box .image-area {
  border-radius: 8px;
}
.post-area .slider-box .image-area .caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 5px 25px;
}
.post-area .caption h4 {
  font-size: 21px;
  padding-top: 10px;
  font-weight: 600;
}
.post-area .caption h6 {
  font-size: 16px;
}
.Recommended-area .slider-box {
  width: 33%;
}

.weekly-list {
  background: url(../../images/list-bg.png) no-repeat;
}
.play-box img {
  width: 50px;
}

.tag-box h5 {
  display: block;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}
.tag-box h6 {
  display: block;
  font-size: 13px;
}
.tag-box.d-inline-block {
  display: inline-block !important;
  min-width: 30%;
}
.img-thumb.d-inline-block {
  margin: 0 5px;
}
.time-box.d-inline-block {
  font-size: 16px;
}
/* .time-box,
.dot-box,
.play-box {
  min-width: 14%;
  text-align: center;
} */

.play-area a {
  display: inline-block;
  vertical-align: middle;
}
.play-area {
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px;
}

/*inner-page*/
.weekly-list.selected-weekly-list {
  padding-right: 30px;
}
.selected-weekly-list .tag-box.d-inline-block {
  min-width: 100px;
}
.selected-weekly-list .time-box,
.selected-weekly-list .dot-box,
.selected-weekly-list .play-box {
  min-width: inherit;
  padding: 0 20px !important;
}
.selected-weekly-list .dot-box.d-inline-block {
  float: right;
  line-height: inherit;
}
.selected-weekly-list .img-thumb.d-inline-block {
  margin: 0 10px;
}

.jumbotron-bg-inner {
  background: url(../../images/page-background-inner.jpg) no-repeat;
  position: relative;
}

.play-btn {
  padding: 8px 20px;
  border-radius: 20px;
  background: #ffffff;
  color: #999;
  text-align: center;
  margin-right: 8px;
}
.top-header {
  background: #021320;
  padding: 30px 50px 10px;
}

.bg-header {
  background: #021320;
}

/*navigation part*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #09113a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  margin: 15px 0;
}
.logo-icon {
  display: block;
  margin: 30px auto 0;
  text-align: center;
}
.closebtn:hover,
.logo-icon:hover {
  background: none !important;
}
.sidebar a:hover {
  color: #f1f1f1;
  background: url(../../images/nav-hover-bg.png) no-repeat;
  background-size: 100% 100%;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background: none;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:focus {
  outline: none;
}
.openbtn:hover {
  background: none;
}

#main {
  transition: margin-left 0.5s;
}
.openbtn {
  position: absolute;
  left: 30px;
  top: 14px;
}

.rec.rec-arrow {
  background: #0e0e0e;
}
