.dot-box {
  font-size: 45px;
  cursor: pointer;
}

.songs-ul {
  .song-number {
    font-size: 25px;
    font-weight: 600;
  }

  .song-profile {
    .song-img {
      width: 50px;
      height: 50px;
    }
  }

  .song-title {
    h5 {
      font-size: 16px;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: 500;
    }

    h6 {
      font-size: 13px;
    }
  }

  .song-action {
    .song-play-pause-icon {
      width: 50px;
      height: 50px;
    }
  }
}

.weekly-song-list {
  .song-duration {
    display: none;
  }
}

.table th, .table td {
  border-top: 1px solid #1fdbae;
}

.table thead th {
  border-bottom: 2px solid #1fdbae;
}

.song-duration {
  min-width: 95px;
}
