.dot-box {
  font-size: 45px;
  cursor: pointer;
}

.songs-ul {
  .song-number {
    font-size: 25px;
    font-weight: 600;
  }

  .song-profile {
    .song-img {
      width: 50px;
      height: 50px;
    }
  }

  .song-title {
    h5 {
      font-size: 16px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
    }

    h6 {
      font-size: 13px;
    }
  }

  .song-action {
    .song-play-pause-icon {
      width: 50px;
      height: 50px;
    }
  }
}

.weekly-song-list {
  .song-duration {
    display: none;
  }
}
