.album-detail {
  h1 {
    font-size: 110px;
    color: #00ff94;
    line-height: 100%;
    margin-bottom: 30px;
  }
  h5 {
    font-size: 30px;
    margin: 0px;
  }
}

.songs-ul {
  .song-number {
    min-width: 70px;
  }
}
