@import '../../styles/variables';

.navbar {
  background-color: #020f1f;
}

.search-icon-prepend {
  background: transparent;
  border: none;
}

.autocomplete-box {
  input {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;

    &:focus {
      background: transparent;
      outline: none;
      border: none;
      box-shadow: none;
      color: #ffffff;
    }
  }

  ::placeholder {
    color: #ffffff;
  }

  .rbt-menu {
    background: $body-bg-color;
    border: none;

    a {
      color: #ffffff;

      &:hover {
        background: #24e6a9;
      }
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.badge-dark {
  background-color: #000000;
  cursor: pointer;

  &:hover {
    background-color: #343a40
  }
}

.right {
  float: right;
  margin-left: auto;
  padding-right: 20px;
}

.search {
  width: 500px;
  background: #000000;
  border-radius: 10px;
  position: relative;

  .searchIcon {
    position: absolute;
    right: 10px;
    top: 8px;
  }

  .form-control {
    background: transparent;
    border: none;
  }
}
