.top-header-box {
  div {
    flex: 1;
  }
  .input-box {
    position: relative;

    .search-icon {
      position: absolute;
      top: 35%;
    }
    input {
      background: transparent;
      outline: none;
      border: none;
    }

    ::placeholder {
      color: #ffffff;
    }
  }
}
