.search-icon-prepend {
  background: transparent;
  border: none;
}
.autocomplete-box {
  flex: 0.5;
  input {
    background: transparent;
    outline: none;
    border: none;

    &:focus {
      background: transparent;
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  ::placeholder {
    color: #ffffff;
  }
}
